[submodule "wlc"]
   path = lib/wlc
   url = git://github.com/Cloudef/wlc.git
   branch = master
[submodule "inihck"]
   path = lib/inihck
   url = git://github.com/Cloudef/inihck.git
   branch = master
[submodule "lib/chck"]
   path = lib/chck
   url = git://github.com/Cloudef/chck.git
[submodule "pi9"]
   path = lib/pi9
   url = git://github.com/Cloudef/pi9.git
   branch = master
