[submodule "wlc"]
   path = lib/wlc
   url = git://github.com/Cloudef/wlc.git
   branch = master
[submodule "inihck"]
   path = lib/inihck
   url = git://github.com/Cloudef/inihck.git
   branch = master
[submodule "chck"]
   path = lib/chck
   url = git://github.com/Cloudef/chck.git
   branch = master
