[submodule "wlc"]
	path = lib/wlc
	url = git://github.com/Cloudef/wlc.git
[submodule "chck"]
	path = lib/chck/src
	url = git://github.com/Cloudef/chck.git
	branch = refactor
[submodule "plugins/core-vfs/lib/pi9"]
	path = plugins/core-vfs/lib/pi9
	url = git://github.com/Cloudef/pi9.git
